// Place all the styles related to the ccond controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ccondresult {
	margin: 10px;
	height: 75%;
}

.izq {
	text-align: right;
	padding-right: 15px;
}